<div class="wrapper">
    <div class="background">
    </div>

    <div class="column-one">
        <p>Il mio indirizzo e-mail per contattarmi:
        </p>
        <a class="email-a" href="mailto:lacj2003@hotmail.com">
            <p class="email">lacj2003@hotmail.com</p>
        </a>
        <br>
        <p>Altri social dove trovarmi:</p>
        <div class="hero">
            <ul class="social-links">
                <li><a href="https://github.com/Doxstart" target="_blank"><i class="fab fa-github"></i></a></li>

            </ul>
        </div>
        <div>
        </div>
    </div>
</div>
