<div class="row wrapper">
    <div class="background"></div>
    <div class="pulsate"><div #elem class="parallax"></div> </div>
    <!-- <div class="shadow"></div> -->
    <div #elem1 class="circle shadow" [style.top]="top" [style.left]="left" ></div>
    <div class="column-one">
        <p class="pre-name"><span role="img" aria-label="wave">👋</span>
            Ciao! Mi
            chiamo</p>
        <div class="name">
            <p class="p-name">Luis Castro Jaramillo<span class="p-name2">.</span></p>
        </div>
        <div class="name">
            <p class="p-first">Sono uno <b>Sviluppatore Front-End Junior</b></p>
            <p class="p-second">Le tecnologie in cui mi specializzo sono HTML, CSS, JS, TS e Angular</p>
            <p class="p-third">Pronto diventerò bravo sviluppando applicazioni Web con il MEAN stack.</p>
            <p>Questo sito è il mio primo portfolio professionale, lo migliorerò in futuro.</p>
        </div>
    </div>
    <div class="column-two">
    </div>
</div>
